/* ==========POLICES DE TEXTE========== */

@font-face {
		font-family: General;
		src:url(Fonts/General.otf);
}

/* ==========POLICES DE TEXTE========== */


/* ==========CLASSES========== */



.Logo {
        margin:.5% 0 .5% 0;
        width:20%;
}

.charte {
		background-color:#353c41;
}

.texte {
	margin: 0;
	font-size:130%;
}

.supp {
	margin: 0;
	font-size:130%;
}

.nomargin {
	margin:0;
}

/* ==========CLASSES========== */


/* ==========MAIN========== */

main {
		background-color:#edac6b;
		height:1850px;
		font-family:"general","Arial", "sans-serif";
}
main p{
	font-family:"Lucida Sans Unicode","Arial", "sans-serif";
}

#monnaie {
	width:14%;
	margin:.5% 0 .5% 0;
	float: right;
}

#droite {
	float:right;
	width:40%;
	clear:left;
	margin: 0 3% 0 3%;
}

#monnaies {
	width:40%;
	float:left;
	margin-top:3%;
	margin-left:3%;
}

#trot {
	float:left;
	width:40%;
	margin: 0 3% 0 3%;
}

main > article{
	margin: 0% 3% 3% 3%;
	height:33%;
}

#menu2 {
        width:20%;
        font-family:"general","Arial", "sans-serif";
        display:none;
        position:absolute;
}

#menu2 a {
    text-decoration:none;
    color:black;
}

.burger {
        display:none;
}



/* ==========MAIN========== */


/* ==========GLOBAUX========== */

h1 {
	font-size:30px;
}

body {
	margin:0 0;
}

/* ==========GLOBAUX========== */


/* ==========FOOTER========== */

footer{
		display:flex;
		align-items:flex-end;
		justify-content:space-between;
		font-family:"general","Arial", "sans-serif";
		color:#DDDDDD;
}

footer>article {
	margin:1% 1% 1% 1%;
}

footer>aside {
		margin:1% 1% 1% 1%;
		display:flex;
		flex-direction:column;
		align-items:flex-end;
		color:#818181;
}

footer>aside img {
		width:27px;
		height:27px;
}

/* ==========FOOTER========== */


/* ==========HEADER========== */

header>h2 {
	position:absolute;
	text-align:center;
	margin: 1.5% 40% 0 40%;
	width:20%;
	font-family:"general","Arial", "sans-serif";
	color:white;
}

header>div {
		display:block;
}

header>div>a {
		text-decoration:none;
		font-family:"general","Arial", "sans-serif";
		color:white;
		font-size:25px;
		margin:15% 15% 15% 15%;
}

/* ==========HEADER========== */

	
/* ==========NAV DIV========== */

#SelecPage {
		color:#34a1ff;
}

nav div {
		padding:1.2% 0 1.2% 0;
		display:flex;
		flex:auto;
		justify-content:space-evenly;
		align-items:stretch;
}
nav div a {
		text-decoration:none;
		font-family:"general","Arial", "sans-serif";
		color:white;
}
nav a:hover {
	background-color:#3F464B;
}
nav { 
	position:absolute;
	background-color:#252D32;
	padding:0px 2% 0px 2%;
	width:50%;
	margin:5% 25% 0 25%;
	display:flex;
}
/* ==========NAV DIV========== */

@media(max-width:1200px) {
	nav a {font-size:9px;}
}

@media(max-width:768px){
	
}

@media(max-width:480px){
	.supp {display:none;}
	main {height: 900px;}
	main img {display:none;}
	#monnaie {margin: 15% 0 1% 0; 
	width: 20%;}
}

@media (max-width:900px) {
    .burger {display:block;}
    .Logo {display:none;}
    nav {display:none;}
    .burger:hover #menu2 {
        display:block;
    }
	.supp {display:none;}
	main {height: 768px;}
}